
.list {
 height: 200px; 
 overflow: hidden;
 background-color: #121214; 
 display: flex; 
 align-items: center;
 justify-content: center;
}



.img_list {
  object-fit: cover;
  height: 100%; 
  width: 100%; 
  opacity: 0.8;
}